@font-face {
  font-family: "Montserrat";
  src: local("MyFont"), url(../src/assets/Montserrat-Bold.ttf) format("woff");
}
#root {
  width: 100%;
  height: 100vh;
}

.logo {
  width: 110px;
}

.navbar {
  border-bottom: 4px solid #bf8f41;
  background-color: #1d1d1d !important;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.navbar-brand {
  padding: 0 !important;
  margin: 0 !important;
}
.navbar-left {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0.64px;
  text-transform: uppercase;
  padding-right: 30px;
  gap: 15px;
}
.navbar-left span {
  margin: 0;
  vertical-align: middle;
  line-height: 40px;
}
.navbar-left .btn {
  background: #ce9400;
  color: #fff;
  border-radius: 50px;
  height: 35px;
  line-height: 20px;
  padding: 0 30px;
}
.navbar-left .btn:hover,
.navbar-left .btn:active {
  background: #ce9400 !important;
}
.header {
  padding: 20px 0;
  background: linear-gradient(
    180deg,
    #1c1c1c 0%,
    rgba(28, 28, 28, 0.68) 67.71%,
    rgba(28, 28, 28, 0) 100%
  );
}

.layer {
  width: 300px;
}
.layer .heading {
  width: 100px;
  margin: auto;
}
.layer img {
  width: 100%;
}
.dark_border {
  height: 75px;
  border-top: 2px solid #bf8f41;
  border-bottom: 2px solid #bf8f41;
  background: #1d1d1d;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.box_container {
  background: linear-gradient(
    to right,
    #fcefe9 0%,
    21.292775869369507%,
    #e9e8e9 42.585551738739014%,
    71.2927758693695%,
    #dad9e7 100%
  );
  padding: 20px 0;
}

.box_container .item {
  position: relative;
}
.box_container .heading {
  background: linear-gradient(180deg, #f00 19.83%, rgba(255, 0, 0, 0) 90.01%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.box_container .content {
  position: absolute;
  top: 35px;
  font-weight: bold;
}
.box_container .content p {
  text-align: center;
  font-weight: 900;
}
.box_container .row:nth-of-type(2) {
  padding: 30px 0 50px 0;
}
.box_container .row:nth-of-type(2) .content {
  right: 0;
  left: 0;
}

.box_container .small-box .col-lg-4 {
  margin-bottom: 25px;
}
.box_container .col-md-12 img {
  width: 100%;
}
.box_container .large-box {
  width: 90%;
  float: right;
}
@media screen and (max-width: 576px) {
  .navbar .navbar-left {
    font-size: 8px !important;
  }
}
@media screen and (max-width: 767px) {
  .layer {
    width: 60%;
    margin: auto;
  }
  .reverse {
    flex-direction: row-reverse;
  }
  .box_container .large-box {
    width: 100%;
    float: none;
  }
  .mb-xs-4 {
    margin-bottom: 20px;
  }
  .navbar .navbar-left {
    font-size: 12px;
  }
}
.rectangle img {
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .layer {
    width: 100%;
  }
  .box_container .row:nth-of-type(2) .item img {
    width: 100%;
  }
  .box_container .row:nth-of-type(2) .item .content img {
    width: auto;
  }
}